body {
  background-color: black;
}


/* Header Section */

.banner_title {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.link {
  font-size: 16px;
  text-align: center;
}

p {
  color: gray;
}

a {
  color: aquamarine;
  font-family: Verdana
}

/* iPhone */

.iphone {
  text-align: center;
}

/* Person Travel Guide */
.travel_guide {
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.travel_guide p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

/* Coming Soon */

.coming_soon {
  text-align: center;
  font-family: Verdana;
}
